{% load static %}



 <!--Import Google Icon Font-->
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <!--Import materialize.css-->
 <link type="text/css" rel="stylesheet" href="{% static 'code_search/materialize/css/materialize.min.css' %}"  css/materialize.min.css media="screen,projection"/>
 <link rel="stylesheet" type="text/css" href="{% static 'code_search/style.css' %}" />
 <!--Let browser know website is optimized for mobile-->
 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>




  <ul id="slide-out" class="side-nav fixed">
    <li><div class="user-view">
      <div class="background">
        <!-- <img src="{% static 'code_search/img/background.jpg' %}"> -->
      </div>
      <a href="#!user"><img class="circle" src="{% static 'code_search/img/man.jpg' %}"></a>
      <a href="#!name"><span class="white-text name">Derek Shepherd</span></a>
      <a href="#!email"><span class="white-text email">derek@gsmh.org</span></a>
    </div></li>
    <li><a href="favorite"><i class="material-icons">star</i>Favorite</a></li>
    <li><a href="#!"><i class="material-icons">settings</i>Setting</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        

  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col s5">
          <div class="row">
            <div class="col s12">
              <div class="section">
                <div class="card-panel white">
                  <h4>Medical charts</h4>
                  <div class="row input">
                    <div class="col s12">
                      <form class="on-edit">
                        <textarea id="textarea1" class="materialize-textarea">
Patient’s name: Joe Dalton

Unit number: 6

Surgery date: 10/21/2017

Seen with Dr. Shepherd

Symptoms: the patient presented symptoms of bile ducts inflammation: an intense pain around his stomach and liver, with several crises in the past weeks. The pain sometimes went up to the shoulder and interfered with normal breathing. He had yesterday a big fever that prevented him from sleeping. 

Objective: test to understand if there is a bile ducts obstruction and to what degree

Assessment: Explored congenital bile ducts and observed an atresia. Conducted a liver biopsy to figure out the organ’s condition. No cholangiography needed, to plan later in case symptoms get worse. Extracted the bilary duct stone and accessed it via percutaneous with T-tube tract. 

Plan: return to clinic in 2 weeks to see Dr. Smith
                        </textarea>
                        <label for="textarea1"></label>
                      </form>
                      <span class="off-edit">
                        <p>
Patient’s name: Joe Dalton
                        </p>
                        <p>
Unit number: 6
                        </p>
                        <p>
Surgery date: 10/21/2017
                        </p>
                        <p>
Seen with Dr. Shepherd
                        </p>
<p>
Symptoms: the patient presented symptoms of bile ducts inflammation: an intense pain around his stomach and liver, with several crises in the past weeks. The pain sometimes went up to the shoulder and interfered with normal breathing. He had yesterday a big fever that prevented him from sleeping. 
</p>
<p>
Objective: test to understand if there is a bile ducts obstruction and to what degree
</p>
<p>
Assessment: <span class="procedure-1">Explored congenital bile ducts and observed an atresia. </span>Conducted a liver biopsy to figure out the organ’s condition. No cholangiography needed, to plan later in case symptoms get worse. <span class="procedure-2">Extracted the bilary duct stone and accessed it via percutaneous with T-tube tract. </span>
</p>
<p>
Plan: return to clinic in 2 weeks to see Dr. Smith
</p>
                      </span>
                    </div>
                  </div><!--input-->
                  <div class="row seach">
                    <div class="col s12">
                      <button class="btn waves-effect waves-light submit">Search
                        <i class="material-icons right">send</i>
                      </button>
                    </div>
                  </div><!--search-->
                </div><!--card-pannel-->
              </div>
            </div>
          </div>
        </div><!--s5-->
        <div class="col s6 offset-s1 result">
          <div class="row">
            <div class="col s12">
              <div class="section">
                <div class="card-panel white">
                  <h4>CPT Code</h2>
                  <div class="row">
                    <div class="col s12">
                      <input id="selected_codes" type="text" class="validate" value=" ">
                      <label for="selected_codes" class="active">Selected codes</label>
                    </div>
                  </div><!-- row 1 in card -->
                  <div class="row">
                    <div class="col s12">
                      <ul class="tabs">
                        <li class="tab col s4"><a class="active blue-text" href="#treatment1">Procedure 1</a></li>
                        <li class="tab col s4"><a class="green-text" href="#treatment2">Procedure 2</a></li>
                        <!-- <li class="tab col s4"><a class="orange&#45;text" href="#treatment3">Procedure 3</a></li> -->
                      </ul>
                      <div id="treatment1" class="col s12">
                        <table class="bordered">
                          <thead>
                            <tr>
                              <th></th>
                              <th>CPT Code</th>
                              <th>Description</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                <input type="checkbox" data-code="47700" id="check1-1" class="checkbox" />
                                <label for="check1-1"></label>
                              </td>
                              <td>47700<br><span class="top-prob">Top match!</span></td>
                              <td class="description" data-full="Exploration for congenital atresia of bile ducts, without repair, with or without liver biopsy, with or without cholangiography." data-isfull="true"></td>
                              <td class="icon-favorite">
                                <i class="material-icons">star_border</i>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <input type="checkbox" data-code="35092" id="check1-2" class="checkbox" />
                                <label for="check1-2"></label>
                              </td>
                              <td>70540</td>
                              <td class="description" data-full="Direct repair of aneurysm, false aneurysm, or excision (partial or total) and graft insertion, with or without patch graft; for ruptured aneurysm, abdominal aorta involving visceral vessels (mesenteric, celiac, renal)." data-isfull="true"></td>
                              <td class="icon-favorite">
                                <i class="material-icons">star_border</i>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div><!-- treatment1 -->
                      <div id="treatment2" class="col s12">
                        <table class="bordered">
                          <thead>
                            <tr>
                              <th></th>
                              <th>CPT Code</th>
                              <th>Description</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                <input type="checkbox" data-code="47630" id="check2-1" class="checkbox" />
                                <label for="check2-1"></label>
                              </td>
                              <td>47630<br><span class="top-prob">Top match!</span></td>
                              <td class="description" data-full="Biliary duct stone extraction, percutaneous via T-tube tract, basket, or snare (eg, Burhenne technique)." data-isfull="true"></td>
                              <td class="icon-favorite">
                                <i class="material-icons">star_border</i>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <input type="checkbox" data-code="35092" id="check2" class="checkbox" />
                                <label for="check2"></label>
                              </td>
                              <td>70540</td>
                              <td class="description" data-full="Direct repair of aneurysm, false aneurysm, or excision (partial or total) and graft insertion, with or without patch graft; for ruptured aneurysm, abdominal aorta involving visceral vessels (mesenteric, celiac, renal)." data-isfull="true"></td>
                              <td class="icon-favorite">
                                <i class="material-icons">star_border</i>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div><!-- treatment2 -->
                      <!-- <div id="treatment3" class="col s12"> -->
                      <!--   <table class="bordered"> -->
                      <!--     <thead> -->
                      <!--       <tr> -->
                      <!--         <th></th> -->
                      <!--         <th>CPT Code</th> -->
                      <!--         <th>Description</th> -->
                      <!--         <th></th> -->
                      <!--       </tr> -->
                      <!--     </thead> -->
                      <!--     <tbody> -->
                      <!--       <tr> -->
                      <!--         <td> -->
                      <!--           <input type="checkbox" data&#45;code="70336" id="check1" class="checkbox" /> -->
                      <!--           <label for="check1"></label> -->
                      <!--         </td> -->
                      <!--         <td>70336<br><span class="top&#45;prob">Top match!</span></td> -->
                      <!--         <td class="description" data&#45;full="MRI TMJ Joint" data&#45;isfull="true"></td> -->
                      <!--         <td class="icon&#45;favorite"> -->
                      <!--           <i class="material&#45;icons">star_border</i> -->
                      <!--         </td> -->
                      <!--       </tr> -->
                      <!--       <tr> -->
                      <!--         <td> -->
                      <!--           <input type="checkbox" data&#45;code="35092" id="check2" class="checkbox" /> -->
                      <!--           <label for="check2"></label> -->
                      <!--         </td> -->
                      <!--         <td>70540</td> -->
                      <!--         <td class="description" data&#45;full="Direct repair of aneurysm, false aneurysm, or excision (partial or total) and graft insertion, with or without patch graft; for ruptured aneurysm, abdominal aorta involving visceral vessels (mesenteric, celiac, renal)." data&#45;isfull="true"></td> -->
                      <!--         <td class="icon&#45;favorite"> -->
                      <!--           <i class="material&#45;icons">star_border</i> -->
                      <!--         </td> -->
                      <!--       </tr> -->
                      <!--     </tbody> -->
                      <!--   </table> -->
                      <!-- </div><!&#45;&#45;treatment3&#45;&#45;> -->
                    </div>
                  </div><!-- row 2 in card -->
                </div><!-- card -->
              </div><!--section-->
            </div><!--s12-->
          </div><!-- row -->
        </div><!--col6 offset1-->
      </div><!--row-->
    </div><!--container-->
  </div><!--main-->







  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="{% static 'code_search/materialize/js/materialize.min.js' %}"></script>
  <script src="{% static 'code_search/main.js' %}"></script>
